body, html {
  height: 100%;
  display: grid;
  font-family: Lato, sans-serif;
  font-size: 18px;
}

main {
  margin: auto;
}

#title {
    font-size: 3.5em;
}

#contacts {
  text-align: center;
  font-size: 2em;
}

#contacts a {
  color: lightseagreen;
  margin-right: 10px;
}